@model IEnumerable<WorkNetwork.Models.Persona>

@{
    ViewData["Title"] = "Personas";
}

<h1>Personas</h1>

<button type="button" class='btn btn-primary mb-3' onclick='AbrirModal(modalCrearPersona)'>Crear Persona</button>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombrePersona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoPersona)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id='tbody-personas'>
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="modalCrearPersona" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titulo-modal-rubro">Crear persona</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-control">
                    @*<div class="alert alert-danger "id='alertRubro'>El campo descripcion no puede estar vacio</div> *@
                    <input type="hidden" id='idPersona' />
                    <b>Nombre:</b>
                    <input placeholder="Ingrese su nombre" type="text" id="nombrePersona" class="form-control" />
                    <b>Apellido:</b>
                    <input placeholder="Ingrese su apellido " type="text" id="apellidoPersona" class="form-control" />

                    <div>
                        <b> Tipo de Documento: </b>
                        <select id="tipoDoc" class="form-control">
                            @* <option disabled> Tipo de documento</option>*@
                            <option value=0>DNI</option>
                            <option value=1>L.E.</option>
                        </select>
                        <b> Número de Documento: </b>
                        <input class="form-control" placeholder="Ingrese aqui su número de documento" type="tel" id="nroDNI" maxlength="8" />
                    </div>

                    <b>Genero:</b>
                    <select id="genre" class="form-control">
                        <option value=0>Masculino</option>
                        <option value=1>Femenino</option>
                        <option value=2>Otro</option>
                    </select>

                    <b> Fecha de Nacimiento: </b>
                    <input class="form-control" type="date" placeholder="Fecha de Nacimiento" id="fecNac" />
                    <b>E-mail:</b>
                    <input type="email" class="form-control" placeholder="Email" id="mailUser" />

                    <div class="row">
                        <div class='col-9 mb-3'>
                            <b>Domicilio</b>
                            <input id="Domicilio" type="text" class="form-control col-auto" placeholder="Calle" />
                        </div>
                        <div class="col-3 mb-3">
                            <b>Numero</b>
                            <input id='numeroDomicilio' type="tel" class="form-control col-sm-2" placeholder="Número" maxlength="4" />
                        </div>
                        <div />

                        <div>
                            <label class="control-label"><b> Paises: </b></label>
                            @Html.DropDownList("PaisID", null, htmlAttributes: new {@class = "form-control mb-3"})
                        </div>
                        <div>
                            <label class="control-label"><b> Provincias: </b></label>
                            @Html.DropDownList("ProvinciaID", null, htmlAttributes: new {@class = "form-control mb-3"})
                        </div>
                        <div>
                            <label class="control-label"><b> Localidades: </b></label>
                            @Html.DropDownList("LocalidadID", null, htmlAttributes: new {@class = "form-control mb-3"})
                        </div>

                        <div>
                            <b>Telefono:</b>
                            <input class="form-control" type="tel" placeholder="Telefono/Celular" id="tel1" required maxlength="13" />
                            <b>Otro:</b>
                            <input class="form-control" type="tel" placeholder="Otro (Opcional)" id="tel2" maxlength="13" />
                        </div>

                        <b>Estado Civil:</b>
                        <select id="estCivil" class="form-control mb-3">

                            <option value="0">Soltero/a</option>
                            <option value="1">Casado/a</option>
                            <option value="2">Divorciado/a</option>
                            <option value="3">Viudo/a</option>

                        </select>
                        <input type="number" class="form-control mb-3" id="cantidadHijos" placeholder="Cantidad de Hijos" />
                        <input placeholder="Titulo Academico" class="form-control mb-3" type="text" id="tituloAcadem" />
                        <input type="file" id="imagenUp" class="form-control" />

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-info" onclick='GuardarPersona()'>Crear</button>
                    <button type="button" class="btn btn-outline-danger" onclick='VaciarFormulario()' data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/Personas.js"></script>
    <script>
        window.onload = CompletarTablaPersonas();
    </script>
    }
